
body {
    font-family: 'Open Sans', 'Roboto', 'Kantumruy Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #28914A !important;
}

.swal2-popup.swal2-toast.swal2-show {
    justify-content: flex-start;
}
table tbody td {
    vertical-align: middle !important;
}
img {
    object-fit: cover;
}
img.profile_img_table {
    height: 50px;
    width: 50px;
}
.swal2-actions {
    gap: 6px;
}
.text-sm .select2-container--default .select2-selection--single, select.form-control-sm~.select2-container--default .select2-selection--single {
    height: 38px;
}
.text-sm .select2-container--default .select2-selection--single .select2-selection__rendered, select.form-control-sm~.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -3px;
}
.text-sm .select2-container--default .select2-selection--single .select2-selection__arrow, select.form-control-sm~.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 1px;
}
.preview-multiple img {
    padding: 10px;
    height: 150px;
}
.preview-multiple img,
.preview-multiple .img_container img {
    padding: 10px;
    height: 150px;
}
.preview-multiple .img_container {
    display: inline-block;
    position: relative;
}
.preview-multiple .img_container i {
    position: absolute;
    background-color: #ebebeb;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.preview-multiple .img_container i:hover {
    color: #ebebeb;
    background-color: #858585;
}

.custom-file-label {
    white-space: nowrap;
}
[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link {
    padding-left: 24px;
}
.preview-multiple img {
    padding: 10px;
    height: 150px;
}
.preview-multiple img,
.preview-multiple .img_container img {
    padding: 10px;
    height: 150px;
}
.preview-multiple .img_container {
    display: inline-block;
    position: relative;
}
.preview-multiple .img_container i {
    position: absolute;
    background-color: #ebebeb;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.preview-multiple .img_container i:hover {
    color: #ebebeb;
    background-color: #858585;
}
